html{
    font-size: 15px;
}

body{
    margin: 0;
    margin: 0;

    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
    padding: 0;
}

.page{
    width: 100%;   /*на всю ширину*/
    height: 100vh;  /*Заполняет в высоту всю страницу*/
    min-height: 657px;  /*при уменьшении браузера или с телефона не вылазят картинки ,появляется прокрутка
    */
    

    background: rgb(66, 64, 64) url(img/personal-folio.jpg) no-repeat center ;
    background-size: cover;

    position: relative;
    overflow: hidden;
}


/*HEADER
============*/

.head{
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;

    background-color: #2b7ded;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.webdev {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.slash{
    text-align: center;
    font-weight: bold;
    color:white;
}


/*Nav*/
.nav a:first-child{
    margin-left: 0;
}
.nav a{
    margin-left: 40px;
}
.nav-title{
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.nav-title:hover{
    color:#0b408a ;
    transition: color 0.5s linear;
}
.active{
    position: relative;
}
.active::after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    top: 20px;
    left: 0;
    background-color:#ccc;
}
/*MAIN
============*/

.text{
    max-width: 655px;
    margin: 113px 0 0 100px;
}

.title{
    font-size: 1.4rem;
    font-weight: 300px;

    color: #fff;
    opacity: 60%;
}

.sub-title{
    font-size: 2rem;
    font-weight: 500;color: #fff;

}
.sub-title span{
    font-size: 2rem;
    color: #2b7ded;
}

.text-title{
    margin-top: 55px;

    font-size: 1rem;
    font-weight: 400px;
    color: #fff;
}

.btn{
    margin-top: 80px;
    padding: 5px 15px;
    display: inline-block;
    
    font-weight: 500;
    color: #fff;
    text-decoration: none;

    background-color: #2b7ded;
    border-radius: 5px;
}

.btn:hover{
    background-color: #093b81;
    cursor: pointer;
    transition: background-color .2s linear;
}


/*FOOTER
============*/

.logo{
    width: 100%;
    max-width: 500px;
    margin-top: 100px;
    

    font-weight: 500;
}

.email{
    margin-left: 100px;
    margin-right: 20px;
    text-decoration: none;
}

.tel{
    text-decoration: none;
    position: relative;
}

.tel:after{
    content: "";
    display: block;
    width: 80px;
    height: 2px;

    background-color: #fff;

    position: absolute;
    bottom: 8px;
    left: 110%;

    pointer-events: none;
}


.email:hover,
.tel:hover{
    text-decoration: underline;
}


.img-email,
.img-email{
    width: 100%;
    max-width: 15px;
    margin-right: 5px;

}



/*Contacts
============*/

.text-cont{
        max-width: 655px;
        margin: 50px 0 0 100px;
}


.contacts{
    margin-top: 30px;
}

.form{
    width: 100%;
    max-width: 280px;
    margin-top: 20px;
}



.input,
.textarea-text{

    display: block;
    width: 100%;
    margin: 0 0 20px 0;
    border: none;
    padding: 12px 20px;

    font-size: 15px;
    font-weight: 500;
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    border-radius: 5px;

    background-color: rgba(255,255,255, .1);
    resize: none;
}

.textarea-text{
    height: 100px;
}

.input:focus,
.textarea-text{
    outline: none;
}

.input::placeholder,
.textarea-text::placeholder{
    color:#fff; 
}

.botton-cont{
    margin: 15px 0 0 ;
    max-width: 280px;
    height: 40px;
    


    background-color:#2b7ded ;
    border-radius: 5px;
}

.subbtn{
    font-size: 1rem;
    font-weight: 500;

    padding: 8px;
    

    text-decoration: none;
    color: #fff;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.botton-cont:hover{
    background-color: #093b81;
    
    transition: background-color .5s linear;
}


/*img*/

.img{
margin: 0;

    position: absolute;
    bottom: 0;
    right: 20px;
}

.img-basic{
    display: block;
    max-width: 100%;
    height: auto;
}


/*Media
============*/


@media (max-width:970px){
    .img{
        display: none;

    }
}


@media (max-width:850px){

    .page{
        min-height: 700px;
    }

    .main{
        padding: 10px;
    }
    .text{
        margin: 80px auto;
        text-align: center;
    }

    .title{
        font-size: 1rem;
    }

    .sub-title{
        font-size: 1.3rem;
    }

    .sub-title span{
        font-size: 1.5rem;
    }

    .text-title{
        font-size: .8rem;
        ;
    }

    .btn{
        font-size: .8rem;
    }
    .logo{
        margin-top: 80px;
    }

    }


    @media (max-width:600px){
    .text-cont{
        max-width: 600px;
        margin: 50px 20px 0 20px;
        text-align: center;
    }

    .form{
        margin: 20px auto;
    }

    .webdev{
        font-size: 1.3rem;
    }

    .botton-cont{
        margin: 15px auto;
    }
   
    }


    @media (max-width:500px){
        .tel:after{
            display: none;
        }

        .logo{
            margin: 0;
    
            display: flex;
            flex-direction: column;
            align-items: center;
        
        }

        .email{
            margin: 0;
        }

        .head{
            flex-direction: column;
        }

        .slash{
            display: none;
        }

        .nav-title:first-child::after{
            display: none;
        }
    }


    